In [1]:
import glob
import pandas as pd
from datetime import datetime

In [2]:
tmpfile    = "temp.tmp"
logfile    = "logfile.txt"
targetfile = "transformed_data.csv"

In [3]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [4]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("bank_market*.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index=True)
    return extracted_data

In [8]:
data = pd.read_csv('exchange_rates.csv', index_col = 0)
exchange_rate = data.loc['GBP', 'Rates']

In [ ]:
exchanged_rate

In [9]:
def transform(data):
    data.rename(columns={"Market Cap (US$ Billion)": "Market Cap (GBP$ Billion)"}, inplace=True)
    data["Market Cap (GBP$ Billion)"] = data["Market Cap (GBP$ Billion)"] * exchange_rate
    data["Market Cap (GBP$ Billion)"] = data["Market Cap (GBP$ Billion)"].round(3)
    return data

In [10]:
def load(targetfile,transformed_data):
    transformed_data.to_csv(targetfile, index = False)

In [11]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [12]:
log("ETL Job Started")

In [13]:
log("Extract phase Started")
extracted_data = extract()
extracted_data.head(5)

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [14]:
log("Extract phase Ended")

In [15]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
transformed_data.head(5)

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [16]:
log("Transform phase Ended")

In [17]:
log("Load phase Started")
load('bank_market_cap_gbp.csv',transformed_data)

In [18]:
log("ETL Job Ended")